{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center" class="display-2">To-Do's</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for todo in user.todos %}
  <li class="list-group-item">
    {% if todo.checked == false %}
    <button type="button" class="btn" id="empty-check" onClick="checkTodo({{ todo.id }})">
      <span aria-hidden>&#11036;</span>
    </button>
    <button type="button" class="btn d-none" id="green-check" onClick="uncheckTodo({{ todo.id }})">
      <span aria-hidden>&#9989;</span>
    </button>
    {% else %}
    <button type="button" class="btn d-none" id="empty-check" onClick="checkTodo({{ todo.id }})">
      <span aria-hidden>&#11036;</span>
    </button>
    <button type="button" class="btn" id="green-check" onClick="uncheckTodo({{ todo.id }})">
      <span aria-hidden>&#9989;</span>
    </button>
    {% endif %}
    <button type="button" class="btn btn-primary" onClick="">
      <span aria-hidden="true">&#9651; </span>
    </button>
    <button type="button" class="btn btn-primary" onClick="">
      <span aria-hidden="true">&#9661; </span>
    </button>
    {{ todo.data }}
    <button type="button" class="close" onClick="deleteTodo({{ todo.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="todo" id="todo" class="form-control"></textarea>
  <br />
  <div align="center">
    <button class="btn btn-primary" type="submit">Add To-Do</button>
  </div>
</form>
{% endblock%}
